.custom-carousel {
  position: relative;
  width: 100px !important;
  height: 100px !important;
}

.dropdown-menu.show {
  margin-right: 52px;
  margin-left: -25px;
}
.custom-card-link {
  text-decoration: none;
}

/* .carousel-inner {
    padding: 15px;
    height: 200px;
    border-radius: 8px !important;
} */

button.btn-booking {
  background: #ff5c3d;
  color: white;
  font-weight: 600;
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
}
.card-img,
.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
  object-fit: cover;
  /* width: 100%; */
  height: 100%;
  object-position: center;
}

.card-img-top {
  border-radius: 8px !important;
}
/* Starting */

.card-car {
  background-image: url("../src/assets/background.png");
  background-position: center;
  background-size: cover;
  color: white !important;
  min-height: 411px !important;
  height: 411px !important;
  height: 100% !important;
  /* min-width: 354px !important; */
  position: relative !important;
}
.header {
  background: rgb(127, 155, 176);
  background: linear-gradient(
    15deg,
    rgba(127, 155, 176, 0.9654236694677871) 0%,
    rgba(4, 3, 3, 0.8981967787114846) 25%
  );
  color: white;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.logo-image {
  height: 45px;
}
nav {
  /* background: #fcfcfc !important; */
  /* position: fixed !important; */
  /* top: 0 !important; */
  width: 100%;
  background-color: rgba(26, 26, 26, 1) !important;
  color: white !important;
  z-index: 11;
  text-align: center;
}
nav a {
  color: white !important;
}
nav a:hover {
  background-color: transparent;
  color: white !important;
}
.dropdown-menu a {
  color: black !important;
}

.dropdown-menu a:hover {
  color: #ff5c3d !important;
}

.nav-link:focus {
  color: #ff5c3d !important;
}

.btn-nav.nav-link {
  color: #ff5c3d;
  border: 1px solid #ff5c3d;
  border-radius: 20px;
  padding: 5px 33px;
  font-weight: 600;
  width: 100px;
}

img.floating-car {
  height: 381px;
  right: 0;
  position: absolute;
  margin-top: -120px;
}

img.stores {
  height: 71px;
}

section.filter-section {
  margin: 0 auto;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

section.filter-section {
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.filter-car {
  background: white;
  width: fit-content;
  padding: 20px 50px;
  /* -webkit-box-shadow: 0px 6px 14px -1px rgba(0,0,0,0.75); */
  -moz-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.75);
  /* box-shadow: 0px 6px 14px -1px rgba(0,0,0,0.75); */
  -webkit-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 6px 14px -1px rgba(0, 0, 0, 0.46);
  border-radius: 8px;
}

.filter-car button {
  background: #ff5c3d;
  color: white;
  border: 0;
  border-radius: 4px;
  width: 100px;
  height: 41px;
  margin-left: 20px;
}
.btn-general{
  background: #ff5c3d;
  display: inline-block;
  padding: 8px 18px;
  width: 100px ;
  text-align: center;
  color: white !important;
  text-decoration: none;
  border-radius: 6px;
}

.btn-general:hover{
  background-color: #ccc;
}

.text-small {
  font-size: 12px;
}

.filter-car input {
  border-color: transparent;
}

body {
  background: #f3f3f3 !important;
}

.input-container {
  position: relative;
  margin: 50px auto;
  width: 200px;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}

.tab-content {
  background-color: white;
  border-radius: 0 8px 8px 8px;
  border: 0 !important;
  padding: 2rem;
}

.modal-content {
  background-color: transparent !important;
  border: 0 !important;
}

.modal-dialog.modal-lg.modal-dialog-centered {
  width: 400px;
}
.navbar-nav.nav-tabs {
  display: flex;
  flex-direction: row;
  border: 0;
}
button.nav-link {
  width: 100px;
  background-color: white !important;
}

button.nav-link:not(.active) {
  border-bottom: 1px solid lightgrey;
}

.btn {
  background: #ff5c3d !important;
  color: white !important;
  width: 100%;
  height: 40px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.close-btn {
  background-color: lightgray !important;
  color: black !important;
  position: absolute;
  top: 69px;
  right: 30px;
}

.message-form {
  font-size: 12px !important;
}

.link-to {
  text-decoration: none;
  color: #ff5c3d;
}

.text-head {
  font-size: 4rem;
}

.custom-price {
  position: absolute;
  bottom: 10px;
  font-size: 21px;
  font-weight: 600;
}

.custom-price span {
  font-size: 13px;
  font-weight: 400;
}

.custom-card-title {
  position: absolute;
  top: 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
}

.custom-text-label,
.custom-text-label-detail {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  padding-right: 0.75rem;
  padding-left: 0.5rem;
  height: 1.5rem;
  border-radius: 50vmax;
  background: rgba(255, 255, 255, 0.12);
  font-size: 12px;
  margin-top: 20px;
}

.custom-text-km {
  font-size: 10px;
  position: absolute;
  bottom: 25px;
}

.custom-text-km svg,
.icon-check {
  color: rgba(60, 233, 0, 1);
}

.Special-detail {
  width: 346px;
  height: 411px !important;
}

.card-detail {
  margin: 0 auto;
  /* margin-top: 8rem !important; */
}

.form-detail {
  background-color: white;
  border-radius: 0 8px 8px;
}

.form-content {
  padding: 2rem;
}

.card-detail .card {
  border-radius: 12px 0 0 12px;
}

.form-detail {
  border-radius: 0 12px 12px 0;
}

.bolder-type {
  font-weight: 600;
}

.reservation-price {
  font-size: 17px;
  font-weight: 600;
}

.card-text {
  display: flex;
  align-items: baseline;
}

.btn-content {
  position: absolute;
  top: 15px;
  right: 15px;
}

.btn-detail {
  background-color: transparent;
  color: black !important;
  border: 0;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 20px;
}

.btn-detail span {
  font-size: 13px;
}

.user-content {
  background: rgba(211, 211, 211, 0.249);
  border-radius: 8px;
  padding: 10px;
}

.book-content {
  background: rgba(255, 92, 61, 0.199);
  border-radius: 8px;
  padding: 10px;
}

.title-text {
  font-weight: 600;
  font-size: 14px;
}

.title-text span {
  font-size: 12px;
  font-weight: 400;
  margin-left: 10px;
}

.subtitle-text,
.normal-text,
.price-text {
  font-size: 13px;
  font-weight: 500;
}

.normal-text {
  font-size: 12px;
}

.price-text {
  font-size: 16px;
}

.extra-content {
  position: absolute;
  top: 45px;
  left: 20px;
}

.custom-text-label-detail {
  background: rgba(199, 195, 194, 0.22) !important;
  display: flex;
  align-items: center;
}

button.btn-edit-reserve {
  background: #ff5c3d !important;
  border: 0;
  padding: 7px 17px;
  color: white;
  border-radius: 6px;
}

.modal-profile .modal-content {
  background-color: white !important;
}

img.user-dropdown {
  width: 125px;
  max-width: 125px;
  /* height: 135px; */
  object-fit: cover;
  border-radius: 6px;
}

.modal-profile .modal-header,
.modal-profile .modal-footer{
  background-color: #ff5c3d;
  color: white;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
}
.title-modal {
  font-size: 16px !important;
  
}

.modal-profile .modal-footer {
  font-size: 13px;
  justify-content: center;
}

.brand {
  background-color: #ff5f00;
  text-align: center;
}

.brand h2 {
  font-size: 50px;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

.brand p {
  font-weight: 600;
}

.info-section{
  font-size: 19px;
  font-weight: 800;
}

.title-info {
  font-size: 16px;
}

.title-info svg {
  font-size: 25px;
}

.content-app {
  position: relative !important;
  flex: 1;
  min-height: 100vh;
  padding-bottom: 1rem;
}

footer{
  position: absolute !important;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  background-color: rgba(26, 26, 26, 1) !important;
}